.v-btn:hover {
  box-shadow: #3e3e3e 0 0 5px 2px;
}

.mod-button {
  margin-top: 26px;
  color: white;
  width: 100%;
  overflow: hidden;
}
.mod {
  background-color: #091f43;
  color: white !important;
}
.del {
  background-color: #d1515a;
  color: white !important;
}
.post-btn {
  margin: 10px;
  height: 60px !important;
}
.create-btn {
  margin-left: 20px;
}
.picture-btn {
  height: 36px;
  width: 150px;
  padding: 0;
}
.btn-img {
  color: white;
  border-radius: 5px;
  max-width: 45px;
  max-height: 36px;
  overflow: hidden;
  padding-inline: 10px;
}
.btn-img .v-input__control, .btn-img .v-input__details {
  display: none;
}
.btn-img .v-icon {
  opacity: 100%;
}
.btn-img .v-field-label {
  opacity: 100%;
}
.btn-img:hover {
  cursor: pointer;
  box-shadow: #3e3e3e 0 0 5px 2px;
}