.post {
  box-shadow: #3e3e3e 0 0 5px 2px;
  margin: 20px;
  width: 100%;
  max-width: 800px;
  border-radius: 10px;
  background-color: white;
}
.posts-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.post-main {
  margin: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.post-delete {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-bottom: 10px;
  border: #d1515a solid 2px;
}
.post-delete h3 {
  color: #091f43;
  margin-left: 10px;
}
.post-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.post-header p {
  font-size: 0.9rem;
  color: #3e3e3e;
}
.post-header-section {
  display: flex;
  align-items: center;
  position: relative;
}
.post-header-section h3{
  cursor: pointer;
}
.post-avatar {
  box-shadow: #3e3e3ed8 0 0 5px 2px;
  margin-right: 20px;
}
.post-avatar:hover, .post-comment-avatar:hover {
  cursor: pointer;
}
.post-avatar-img {
  min-width: 45px;
  min-height: 45px;
}
.post-header-btn {
  margin-left: 20px;
}
.post-content {
  text-align: justify;
}
.post-img {
  max-height: 250px;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.post-img:hover {
  cursor: pointer;
}
.post-img img {
  width: 100%;
}
.post-footer {
  margin-top: 20px;
  border-top: solid 2px #3e3e3ed8;
  border-bottom: solid 2px #3e3e3ed8;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.post-likes {
  display: flex;
  align-items: center;
  margin: 10px 0 10px 0;
}
.post-likes p{
  margin-left: 10px;
}
.post-likes-notliked i{
  color: grey;
}
.post-likes-liked i{
  color: white;
  background-color: #091f43;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.post-comment {
  display: flex;
  margin-top: 20px;
  position: relative;
}
.post-comment-avatar {
  box-shadow: #3e3e3ed8 0 0 5px 2px;
  margin-top: 5px;
}
.post-comment-main {
  display: flex;
  max-width: 50%;
  margin-left: 10px;
  border-radius: 20px;
  background-color: #d7d7d7;
  padding: 5px;
}
.comment-icon {
  margin: 10px 10px 0 10px;
  height: 30px;
  width: 30px;
}
.comment-icon:hover {
  cursor: pointer;
  box-shadow: #3e3e3ed8 0 0 5px 2px;
}
.comment-icon-delete {
  background-color: #d1515a;
  color: white;
  border-radius: 5px;
}
.comment-icon-edit {
  background-color: #091f43;
  color: white;
  border-radius: 5px;
}
.post-comment-content {
  margin: 10px;
  text-align: justify;
}
.post-comment-content h4 {
  color: #091f43;
  cursor: pointer;
}
.comment-text-field {
  min-width: 500px;
  margin-bottom: -35px;
}
.post-comment-add {
  margin-top: 20px;
  display: flex;
  width: 100%;
}
.post-comment-add-text {
  margin-left: 20px;
}
.comment-date {
  font-size: 0.8rem;
  margin: 10px 0 0 10px;
}
.user-menu{
  background-color: #091f43;
  box-shadow: #3e3e3ed8 0 0 5px 2px;
  border-radius: 5px;
  height: 80px;
  position: absolute;
  left: 50px;
  top: -50px;
}
.user-menu h4{
  color: white;
  margin: 10px;
  text-align: center;
  width: 100%;
}
.user-menu-btn{
  border-radius: 0;
}
.picture-modal {
  z-index: 10;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.picture-modal:hover {
  cursor: pointer;
}
.picture-modal-bg {
  background-color: black;
  width: 100%;
  height: 100%;
  opacity: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.picture-modal-img {
  scale: 1;
  z-index: 11;
  max-height: calc(100% - 200px);
  max-width: 1300px;
}