.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 500px;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: #3e3e3ed8 0 0 5px 2px;
  color: #091f43;
  padding: 15px;
}
.contact-name-row {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.contact-name-row .contact-name {
  width: 40% !important;
}
.contact-form-btn {
  background-color: #091f43;
  color: white !important;
}